#div-mostrar{
    display: none;
}

#div-mostrar2{
    display: none;
}

#mostrart{
    display: none;
}

/*#voltar{
    display: none;
}

#voltar2{
    display: none;
}

#voltar3{
    display: none;
}*/